
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.poli-kZe {
  width: 100%;
  height: 260rem;

  .poli-uBe {
    background-color: #ffebeb;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;

    .image-1-Ezc {
      position: relative;
      background-size: 100% 189.696%;
      background-position: 0 -19.15rem;
      background-image: url('REPLACE_IMAGE:40a24536f518adf751cdaf368b0f011e25f096ae');
      flex-shrink: 0;
      margin-bottom: 14.7rem;
      width: 144rem;
      height: 42.7rem;
    }
    .auto-group-vkwy-iet {
      height: 114.5rem;
      position: relative;
      flex-shrink: 0;
      width: 100%;

      .auto-group-cejz-fKE {
        align-items: flex-start;
        width: 20.4rem;
        height: 2.4rem;
        position: absolute;
        left: 119.7rem;
        top: 95.9rem;
        display: flex;

        .selanjutnya-BYU {
          color: #6c757d;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 3.2rem;
          font-weight: 800;
          line-height: 0.625;
          margin-right: 1.9rem;
          letter-spacing: -0.0704rem;
          font-family: Roboto, 'Source Sans Pro';
        }
        .arrow-tSt {
          width: 2.4rem;
          height: 2.4rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .frame-2-Dzx {
        align-items: center;
        box-sizing: border-box;
        height: 4rem;
        left: 17rem;
        top: 5.3rem;
        display: flex;
        padding: 0.304rem 0.455rem 0.5rem 0.292rem;
        width: 114.1rem;
        position: absolute;

        .poli-gtY {
          flex-shrink: 0;
          margin: 0.196rem 24.792rem 0rem 0rem;
          width: 2.9166rem;
          height: 2.9167rem;
          object-fit: contain;
          vertical-align: top;
        }
        .dokter-Cbz {
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.196rem 24.938rem 0rem 0rem;
        }
        .jadwal-KwW {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 24.696rem 0.113rem 0rem;
          width: 2.625rem;
          height: 3.0833rem;
          object-fit: contain;
        }
        .reservasi-eyn {
          width: 2.5188rem;
          height: 2.5188rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.131rem 24.91rem 0rem 0rem;
        }
        .konfirmasi-nKJ {
          width: 2.9574rem;
          height: 2.8303rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.1955rem;
        }
      }
      .group-2-7Ma {
        left: 12.9rem;
        top: 11rem;
        display: flex;
        align-items: flex-end;
        width: 119.85rem;
        height: 1.9rem;
        position: absolute;

        .menentukan-poli-Eh6 {
          white-space: nowrap;
          text-align: center;
          line-height: 1.1725;
          color: #2d6a4f;
          font-family: Roboto, 'Source Sans Pro';
          margin: 0rem 18.05rem 0.1rem 0rem;
          font-size: 1.5rem;
          font-weight: 700;
          flex-shrink: 0;
        }
        .list-dokter-LVE {
          line-height: 1.1725;
          color: #495057;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 700;
          margin: 0rem 19.75rem 0.1rem 0rem;
          flex-shrink: 0;
        }
        .jadwal-dokter-f1i {
          flex-shrink: 0;
          text-align: center;
          font-weight: 700;
          line-height: 1.1725;
          color: #495057;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 18.6rem;
          font-size: 1.5rem;
        }
        .reservasi-Nwi {
          line-height: 1.1725;
          color: #495057;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.45rem;
          font-size: 1.5rem;
          font-family: Roboto, 'Source Sans Pro';
          text-align: center;
          font-weight: 700;
        }
        .konfirmasi-WY8 {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.1725;
          color: #495057;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .auto-group-wjrl-rM6 {
        top: 14.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 132rem;
        height: 1.8rem;
        position: absolute;
        left: 7.5rem;
      }
      .pilih-poli-yang-ingin-dituju-agar-dapat-menentukan-dokter-b3n {
        height: 7.1rem;
        left: 12.5rem;
        font-size: 1.5rem;
        color: #2d6a4f;
        font-family: Roboto, 'Source Sans Pro';
        width: 12.6rem;
        position: absolute;
        top: 19.5rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.1725;
      }
      .group-3-5je {
        display: flex;
        column-gap: 1.7rem;
        align-items: center;
        width: 118.3rem;
        top: 39.9rem;
        position: absolute;
        left: 14.4rem;
        border-radius: 2rem;
        height: 28.8rem;
        cursor: pointer;

        .auto-group-mhvj-bCC {
          row-gap: 3rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 28.3rem;
          height: 100%;

          .poli-1-vkG {
            padding: 1.6rem 10.1rem 2rem 10.1rem;
            height: 7.6rem;
            cursor: pointer;
            border: solid 0.3rem #52b788;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;
            background-color: #ffffff;
            border-radius: 2rem;

            .poli-gigi-dentist-45n {
              max-width: 8.1rem;
              text-align: center;
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 0.5555555556;
              letter-spacing: -0.0792rem;
              color: #52b788;
              font-family: Roboto, 'Source Sans Pro';

              .poli-gigi-dentist-45n-sub-0 {
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 0.8333333333;
                letter-spacing: -0.0792rem;
              }
              .poli-gigi-dentist-45n-sub-1 {
                font-style: italic;
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 1.5384615385;
                letter-spacing: -0.0792rem;
              }
            }
          }
          .poli-5-qXn {
            box-sizing: border-box;
            padding: 1.6rem 9.45rem 2rem 9.45rem;
            border-radius: 2rem;
            flex-shrink: 0;
            width: 100%;
            height: 7.6rem;
            cursor: pointer;
            border: solid 0.3rem #52b788;
            background-color: #ffffff;

            .poli-anak-pediatrician-MW8 {
              text-align: center;
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 0.5555555556;
              letter-spacing: -0.0792rem;
              color: #52b788;
              font-family: Roboto, 'Source Sans Pro';
              max-width: 9.4rem;

              .poli-anak-pediatrician-MW8-sub-0 {
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 0.8333333333;
                letter-spacing: -0.0792rem;
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
              }
              .poli-anak-pediatrician-MW8-sub-1 {
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 1.5384615385;
                letter-spacing: -0.0792rem;
                font-style: italic;
              }
            }
          }
          .poli-9-gqE {
            border-radius: 2rem;
            width: 100%;
            border: solid 0.3rem #52b788;
            background-color: #ffffff;
            cursor: pointer;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.6rem 5.25rem 2rem 5.25rem;
            height: 7.6rem;

            .poli-bedah-plastik-plastic-surgery-bBW {
              max-width: 17.8rem;
              text-align: center;
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 0.5555555556;
              letter-spacing: -0.0792rem;
              color: #52b788;
              font-family: Roboto, 'Source Sans Pro';

              .poli-bedah-plastik-plastic-surgery-bBW-sub-0 {
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 0.8333333333;
                letter-spacing: -0.0792rem;
              }
              .poli-bedah-plastik-plastic-surgery-bBW-sub-1 {
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 1.5384615385;
                letter-spacing: -0.0792rem;
                font-style: italic;
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
          }
        }
        .auto-group-emeg-D6Q {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 28.3rem;
          height: 100%;
          row-gap: 3rem;
          align-items: center;

          .poli-2-8z4 {
            height: 7.6rem;
            padding: 1.6rem 8.85rem 2rem 8.85rem;
            width: 100%;
            cursor: pointer;
            border: solid 0.3rem #52b788;
            background-color: #ffffff;
            border-radius: 2rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .poli-bedah-surgery-GaU {
              line-height: 0.5555555556;
              letter-spacing: -0.0792rem;
              color: #52b788;
              font-family: Roboto, 'Source Sans Pro';
              max-width: 10.6rem;
              text-align: center;
              font-size: 3.6rem;
              font-weight: 700;

              .poli-bedah-surgery-GaU-sub-0 {
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 0.8333333333;
                letter-spacing: -0.0792rem;
              }
              .poli-bedah-surgery-GaU-sub-1 {
                font-style: italic;
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 1.5384615385;
                letter-spacing: -0.0792rem;
              }
            }
          }
          .poli-6-umr {
            border: solid 0.3rem #52b788;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.6rem 7.25rem 2rem 7.25rem;
            cursor: pointer;
            border-radius: 2rem;
            width: 100%;
            height: 7.6rem;
            background-color: #ffffff;

            .poli-obgyn-obstetricsand-gynecology-3dA {
              font-family: Roboto, 'Source Sans Pro';
              max-width: 13.8rem;
              text-align: center;
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 0.5555555556;
              letter-spacing: -0.0792rem;
              color: #52b788;

              .poli-obgyn-obstetricsand-gynecology-3dA-sub-0 {
                letter-spacing: -0.0792rem;
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 0.8333333333;
              }
              .poli-obgyn-obstetricsand-gynecology-3dA-sub-1 {
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 1.5384615385;
                letter-spacing: -0.0792rem;
                font-style: italic;
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
          }
          .poli-10-HR2 {
            background-color: #ffffff;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.6rem 5.95rem 2rem 5.95rem;
            cursor: pointer;
            border-radius: 2rem;
            width: 100%;
            height: 7.6rem;
            border: solid 0.3rem #52b788;

            .poli-bedah-saraf-neuro-surgery-cy6 {
              max-width: 16.4rem;
              text-align: center;
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 0.5555555556;
              letter-spacing: -0.0792rem;
              color: #52b788;
              font-family: Roboto, 'Source Sans Pro';

              .poli-bedah-saraf-neuro-surgery-cy6-sub-0 {
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 0.8333333333;
                letter-spacing: -0.0792rem;
              }
              .poli-bedah-saraf-neuro-surgery-cy6-sub-1 {
                line-height: 1.5384615385;
                letter-spacing: -0.0792rem;
                font-style: italic;
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 1.3rem;
                font-weight: 600;
              }
            }
          }
        }
        .auto-group-xrzp-sXe {
          flex-direction: column;
          flex-shrink: 0;
          width: 28.3rem;
          height: 100%;
          row-gap: 3rem;
          align-items: center;
          display: flex;

          .poli-3-cEL {
            flex-shrink: 0;
            padding: 1.6rem 8.6rem 2rem 8.6rem;
            border: solid 0.3rem #52b788;
            border-radius: 2rem;
            cursor: pointer;
            background-color: #ffffff;
            box-sizing: border-box;
            width: 100%;
            height: 7.6rem;

            .poli-umum-general-9EG {
              max-width: 11.1rem;
              text-align: center;
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 0.5555555556;
              letter-spacing: -0.0792rem;
              color: #52b788;
              font-family: Roboto, 'Source Sans Pro';

              .poli-umum-general-9EG-sub-0 {
                font-weight: 700;
                line-height: 0.8333333333;
                letter-spacing: -0.0792rem;
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 2.4rem;
              }
              .poli-umum-general-9EG-sub-1 {
                font-weight: 600;
                line-height: 1.5384615385;
                letter-spacing: -0.0792rem;
                font-style: italic;
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 1.3rem;
              }
            }
          }
          .poli-7-pzc {
            height: 7.6rem;
            cursor: pointer;
            background-color: #ffffff;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.6rem 7rem 2rem 7rem;
            width: 100%;
            border: solid 0.3rem #52b788;
            border-radius: 2rem;

            .poli-kardiologi-cardiology-NFS {
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 0.5555555556;
              letter-spacing: -0.0792rem;
              color: #52b788;
              font-family: Roboto, 'Source Sans Pro';
              max-width: 14.3rem;
              text-align: center;

              .poli-kardiologi-cardiology-NFS-sub-0 {
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 0.8333333333;
                letter-spacing: -0.0792rem;
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
              }
              .poli-kardiologi-cardiology-NFS-sub-1 {
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 1.5384615385;
                letter-spacing: -0.0792rem;
                font-style: italic;
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
          }
          .poli-11-pme {
            border-radius: 2rem;
            height: 7.6rem;
            cursor: pointer;
            border: solid 0.3rem #52b788;
            background-color: #ffffff;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.6rem 8.5rem 2rem 8.5rem;
            width: 100%;

            .poli-urologi-urology-9Z2 {
              color: #52b788;
              font-family: Roboto, 'Source Sans Pro';
              max-width: 11.3rem;
              text-align: center;
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 0.5555555556;
              letter-spacing: -0.0792rem;

              .poli-urologi-urology-9Z2-sub-0 {
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 0.8333333333;
                letter-spacing: -0.0792rem;
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
              }
              .poli-urologi-urology-9Z2-sub-1 {
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 1.5384615385;
                letter-spacing: -0.0792rem;
                font-style: italic;
              }
            }
          }
        }
        .auto-group-ylm6-qaG {
          box-sizing: border-box;
          padding: 0rem 0rem 1rem 5rem;
          row-gap: 3rem;
          display: flex;
          flex-direction: column;
          width: 28.3rem;
          height: 100%;
          align-items: center;
          flex-shrink: 0;

          .poli-4-x96 {
            flex-shrink: 0;
            padding: 1.6rem 8.55rem 2rem 8.55rem;
            width: 28.3rem;
            height: 7.6rem;
            border-radius: 2rem;
            box-sizing: border-box;
            cursor: pointer;
            border: solid 0.3rem #52b788;
            background-color: #ffffff;

            .poli-interna-internal-5zQ {
              box-sizing: border-box;
              padding-top: -10rem;
              min-height: 100%;
              line-height: 0.5555555556;
              letter-spacing: -0.0792rem;
              font-family: Roboto, 'Source Sans Pro';
              width: 100%;
              height: 100%;
              min-width: 100%;
              max-width: 100%;
              font-size: 3.6rem;
              color: #52b788;
              max-height: 100%;
              text-align: center;
              font-weight: 700;

              .poli-interna-internal-5zQ-sub-0 {
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 0.8333333333;
                letter-spacing: -0.0792rem;
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
              }
              .poli-interna-internal-5zQ-sub-1 {
                letter-spacing: -0.0792rem;
                font-style: italic;
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 1.5384615385;
              }
            }
          }
          .poli-8-ivt {
            height: 7.6rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.6rem 9.4rem 2rem 9.4rem;
            width: 28.3rem;
            cursor: pointer;
            border: solid 0.3rem #52b788;
            background-color: #ffffff;
            border-radius: 2rem;

            .poli-saraf-neurology-rnC {
              font-size: 3.6rem;
              letter-spacing: -0.0792rem;
              font-family: Roboto, 'Source Sans Pro';
              min-height: 100%;
              max-height: 100%;
              min-width: 100%;
              max-width: 100%;
              text-align: center;
              font-weight: 700;
              line-height: 0.5555555556;
              color: #52b788;
              width: 100%;
              height: 100%;

              .poli-saraf-neurology-rnC-sub-0 {
                font-weight: 700;
                line-height: 0.8333333333;
                letter-spacing: -0.0792rem;
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 2.4rem;
              }
              .poli-saraf-neurology-rnC-sub-1 {
                line-height: 1.5384615385;
                letter-spacing: -0.0792rem;
                font-style: italic;
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 1.3rem;
                font-weight: 600;
              }
            }
          }
          .poli-12-jzQ {
            background-color: #ffffff;
            border-radius: 2rem;
            border: solid 0.3rem #52b788;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.6rem 5.35rem 1rem 5.35rem;
            width: 28.3rem;
            height: 7.6rem;
            cursor: pointer;

            .poli-anastesi-dan-manajemen-nyeri-anesthesia-and-pain-management-sKv {
              max-height: 100%;
              width: 100%;
              cursor: pointer;
              text-align: center;
              color: #52b788;
              height: 100%;
              min-width: 100%;
              max-width: 100%;
              font-weight: 700;
              font-family: Roboto, 'Source Sans Pro';
              min-height: 100%;
              font-size: 3.6rem;
              line-height: 0.5555555556;
              letter-spacing: -0.0792rem;

              .poli-anastesi-dan-manajemen-nyeri-anesthesia-and-pain-management-sKv-sub-0 {
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 0.8333333333;
                letter-spacing: -0.0792rem;
                color: #52b788;
                font-family: Roboto, 'Source Sans Pro';
              }
              .poli-anastesi-dan-manajemen-nyeri-anesthesia-and-pain-management-sKv-sub-1 {
                font-family: Roboto, 'Source Sans Pro';
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 1.5384615385;
                letter-spacing: -0.0792rem;
                font-style: italic;
                color: #52b788;
              }
            }
          }
        }
      }
    }
    .info-Sfr {
      width: 100%;
      height: 88.4rem;
      display: flex;
      align-items: flex-start;
      background-color: #292b33;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 9.9rem 18.674rem 15.1rem 8.742rem;

      .auto-group-vkse-Mnp {
        margin-right: 5.058rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .rumah-sakit-universitas-udayana-UsS {
          color: #ffffff;
          max-width: 31.6rem;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.3888888889;
          letter-spacing: -0.0792rem;
          margin-bottom: 0.6rem;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .alamat-jl-rumah-sakit-universitas-udayana-nomor-1-jimbaran-kuta-selatan-badung-bali-803611-Ztt {
          font-weight: 600;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 36.8rem 0.282rem;
          max-width: 29.7rem;
          font-size: 1.5rem;
          line-height: 1.3333333333;
          letter-spacing: -0.033rem;
          font-style: italic;
        }
        .temukan-kami-di-facebook-Mpk {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 26.9rem;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.3888888889;
          letter-spacing: -0.0792rem;
        }
      }
      .kerjasama-dXN {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        color: #ffffff;
        flex-shrink: 0;
        margin-right: 12.1684rem;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.3888888889;
        letter-spacing: -0.0792rem;
      }
      .auto-group-jeuw-YeL {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 6.458rem;
        display: flex;

        .statistik-kunjungan-Hbv {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 3.6rem;
          line-height: 1.3888888889;
          letter-spacing: -0.0792rem;
          margin-bottom: 5rem;
          font-weight: 700;
          white-space: nowrap;
        }
        .total-pengunjung-pengunjung-hari-ini-pengunjung-kemarin-pengunjung-minggu-lalu-pengunjung-per-bulan-pengunjung-online--QAk {
          margin-left: 0.0401rem;
          max-width: 16.8rem;
          font-size: 1.5rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          font-weight: 600;
          line-height: 1.3333333333;
          letter-spacing: -0.033rem;
        }
      }
      .translate-4WC {
        flex-shrink: 0;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.3888888889;
        letter-spacing: -0.0792rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
