
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.jadwal-dokter-gn4 {
  width: 100%;
  height: 260rem;

  .jadwal-dokter-SFS {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ffebeb;
    box-sizing: border-box;
    padding-top: 3.7rem;
    position: relative;
    display: flex;
    flex-direction: column;

    .image-1-xzU {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 10.7rem;
      width: 144rem;
      height: 42.7rem;
      object-fit: cover;
    }
    .auto-group-veyn-JHe {
      padding: 5.3rem 3.9rem 16.2rem 6.2rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;

      .frame-2-c3S {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 9rem 1.7rem 10.8rem;
        box-sizing: border-box;
        padding: 0.304rem 0.455rem 0.5rem 0.292rem;
        width: calc(100% - 19.8rem);
        display: flex;

        .poli-gJC {
          margin: 0.196rem 24.792rem 0rem 0rem;
          width: 2.9166rem;
          height: 2.9167rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .dokter-PTW {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.196rem 24.938rem 0rem 0rem;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
        }
        .jadwal-iEt {
          margin: 0rem 24.696rem 0.113rem 0rem;
          width: 2.625rem;
          height: 3.0833rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .reservasi-Ej2 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.131rem 24.91rem 0rem 0rem;
          width: 2.5188rem;
          height: 2.5188rem;
        }
        .konfirmasi-xuv {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.1955rem;
          width: 2.9574rem;
          height: 2.8303rem;
        }
      }
      .group-2-uKN {
        width: calc(100% - 14.05rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 7.35rem 1.8rem 6.7rem;

        .menentukan-poli-px8 {
          text-align: center;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.1725;
          flex-shrink: 0;
          margin: 0rem 18.05rem 0.1rem 0rem;
          color: #495057;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .list-dokter-Xbe {
          text-align: center;
          font-size: 1.5rem;
          color: #495057;
          margin: 0rem 19.75rem 0.1rem 0rem;
          font-weight: 700;
          line-height: 1.1725;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .jadwal-dokter-Rwv {
          color: #2d6a4f;
          font-family: Roboto, 'Source Sans Pro';
          margin-right: 18.6rem;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.1725;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .reservasi-kUQ {
          text-align: center;
          font-size: 1.5rem;
          color: #495057;
          margin-right: 20.45rem;
          font-weight: 700;
          line-height: 1.1725;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .konfirmasi-4V6 {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.1725;
          color: #495057;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .auto-group-ygyx-muJ {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 3rem 0.7rem;
        width: 132rem;
        height: 1.8rem;
        position: relative;
      }
      .memilih-jadwal-dokter-yang-sudah-tersedia-agar-dapat-melanjutkan-reservasi-VaQ {
        text-align: center;
        font-size: 1.5rem;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 0rem 6.4rem 1.8rem;
        max-width: 18.6rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #2d6a4f;
      }
      .frame-41-a64 {
        padding: 1rem 1.2rem 1rem 2.1rem;
        width: calc(100% - 99.4rem);
        cursor: pointer;
        align-items: center;
        margin: 0rem 49.4rem 3.9rem 50rem;
        height: 7.5rem;
        display: flex;
        border: solid 0.1rem #2d6a4f;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .ellipse-1-4X2 {
          width: 5.5rem;
          height: 5.5rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          margin-right: 4.6rem;
          background-position: center;
          background-image: url('REPLACE_IMAGE:1e078348a54489bfd231d82fe1944770883c8d80');
          border-radius: 2.75rem;
          flex-shrink: 0;
        }
        .auto-group-mtwr-NGp {
          margin: 0.4rem 0rem 1rem 0rem;
          height: calc(100% - 1.4rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .dr-alan-sudarsono-drg-sppros-6Cp {
            letter-spacing: -0.064rem;
            color: #2d6a4f;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.1725;
          }
          .dokter-spesialis-gigi-denstist-bvG {
            flex-shrink: 0;
            max-width: 7.5rem;
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 1.1725;
            letter-spacing: -0.036rem;
            color: #2d6a4f;
            font-family: Roboto, 'Source Sans Pro';
          }
        }
      }
      .dropdown-menu-HHJ {
        display: flex;
        align-items: center;
        background-color: #dff6ff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: calc(100% - 119.1rem);
        cursor: pointer;
        padding: 0.6rem 0.929rem 0.6rem 0.6rem;
        overflow: hidden;
        position: relative;
        border: solid 0.1rem #2d6a4f;
        margin: 0rem 58.6rem 51.1rem 60.5rem;
        box-sizing: border-box;

        .pilihan-jadwal-B7n {
          margin-right: 6.8292rem;
          font-size: 0.8rem;
          font-weight: 800;
          line-height: 1.1725;
          color: #40916c;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          letter-spacing: 0.04rem;
          white-space: nowrap;
        }
        .frame-hM2 {
          margin-top: 0.0881rem;
          width: 0.6417rem;
          height: 0.3548rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-vong-bBW {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        align-items: flex-start;

        .frame-jHi {
          margin-right: 1.85rem;
          width: 2.4rem;
          height: 2.4rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .sebelumnya-4qn {
          font-size: 3.2rem;
          line-height: 0.625;
          color: #6c757d;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 92.15rem;
          text-align: center;
          font-weight: 800;
          letter-spacing: -0.0704rem;
        }
        .selanjutnya-PNG {
          margin-right: 1.9rem;
          line-height: 0.625;
          letter-spacing: -0.0704rem;
          flex-shrink: 0;
          text-align: center;
          font-size: 3.2rem;
          font-weight: 800;
          color: #6c757d;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .arrow-7ZA {
          width: 2.4rem;
          height: 2.4rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .info-eZ6 {
      display: flex;
      align-items: flex-start;
      background-color: #292b33;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 9.9rem 11.685rem 15.1rem 9.33rem;
      width: 144.47rem;
      height: 88.4rem;

      .auto-group-cwts-ZAG {
        flex-shrink: 0;
        margin-right: 7.5273rem;
        height: 100%;
        display: flex;
        flex-direction: column;

        .rumah-sakit-universitas-udayana-Vpc {
          margin-bottom: 0.6rem;
          max-width: 31.6rem;
          font-size: 3.6rem;
          line-height: 1.3888888889;
          letter-spacing: -0.0792rem;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          font-weight: 700;
          color: #ffffff;
        }
        .alamat-jl-rumah-sakit-universitas-udayana-nomor-1-jimbaran-kuta-selatan-badung-bali-803611-oKW {
          max-width: 31.2rem;
          font-size: 1.5rem;
          line-height: 1.3333333333;
          font-style: italic;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 36.8rem 0.301rem;
          font-weight: 600;
          letter-spacing: -0.033rem;
        }
        .temukan-kami-di-facebook-3zY {
          letter-spacing: -0.0792rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 26.9rem;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.3888888889;
        }
      }
      .kerjasama-AJU {
        line-height: 1.3888888889;
        letter-spacing: -0.0792rem;
        white-space: nowrap;
        margin-right: 14.0995rem;
        font-weight: 700;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 3.6rem;
      }
      .auto-group-tsm6-Vbe {
        flex-shrink: 0;
        margin-right: 8.9273rem;
        display: flex;
        flex-direction: column;

        .statistik-kunjungan-dxk {
          margin-bottom: 5rem;
          font-size: 3.6rem;
          color: #ffffff;
          white-space: nowrap;
          font-weight: 700;
          line-height: 1.3888888889;
          letter-spacing: -0.0792rem;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .total-pengunjung-pengunjung-hari-ini-pengunjung-kemarin-pengunjung-minggu-lalu-pengunjung-per-bulan-pengunjung-online--H1i {
          font-weight: 600;
          line-height: 1.3333333333;
          flex-shrink: 0;
          max-width: 16.8rem;
          font-size: 1.5rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          margin-left: 0.0428rem;
          letter-spacing: -0.033rem;
        }
      }
      .translate-vqN {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.3888888889;
        letter-spacing: -0.0792rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}
