
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.jadwal-dokter-gn4 {
  width: 100%;
  height: 260rem;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS {
  box-sizing: border-box;
  padding-top: 3.7rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffebeb;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .image-1-xzU {
  margin-bottom: 10.7rem;
  width: 144rem;
  height: 42.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe {
  box-sizing: border-box;
  padding: 5.3rem 3.9rem 16.2rem 6.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .frame-2-c3S {
  margin: 0rem 9rem 1.7rem 10.8rem;
  box-sizing: border-box;
  padding: 0.304rem 0.455rem 0.5rem 0.292rem;
  width: calc(100% - 19.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .frame-2-c3S .poli-gJC {
  margin: 0.196rem 24.792rem 0rem 0rem;
  width: 2.9166rem;
  height: 2.9167rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .frame-2-c3S .dokter-PTW {
  margin: 0.196rem 24.938rem 0rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .frame-2-c3S .jadwal-iEt {
  margin: 0rem 24.696rem 0.113rem 0rem;
  width: 2.625rem;
  height: 3.0833rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .frame-2-c3S .reservasi-Ej2 {
  margin: 0.131rem 24.91rem 0rem 0rem;
  width: 2.5188rem;
  height: 2.5188rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .frame-2-c3S .konfirmasi-xuv {
  margin-top: 0.1955rem;
  width: 2.9574rem;
  height: 2.8303rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .group-2-uKN {
  margin: 0rem 7.35rem 1.8rem 6.7rem;
  width: calc(100% - 14.05rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .group-2-uKN .menentukan-poli-px8 {
  margin: 0rem 18.05rem 0.1rem 0rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #495057;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .group-2-uKN .list-dokter-Xbe {
  margin: 0rem 19.75rem 0.1rem 0rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #495057;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .group-2-uKN .jadwal-dokter-Rwv {
  margin-right: 18.6rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #2d6a4f;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .group-2-uKN .reservasi-kUQ {
  margin-right: 20.45rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #495057;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .group-2-uKN .konfirmasi-4V6 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #495057;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .auto-group-ygyx-muJ {
  margin: 0rem 0rem 3rem 0.7rem;
  width: 132rem;
  height: 1.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .memilih-jadwal-dokter-yang-sudah-tersedia-agar-dapat-melanjutkan-reservasi-VaQ {
  margin: 0rem 0rem 6.4rem 1.8rem;
  max-width: 18.6rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #2d6a4f;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .frame-41-a64 {
  margin: 0rem 49.4rem 3.9rem 50rem;
  box-sizing: border-box;
  padding: 1rem 1.2rem 1rem 2.1rem;
  width: calc(100% - 99.4rem);
  height: 7.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #2d6a4f;
  border-radius: 2rem;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .frame-41-a64 .ellipse-1-4X2 {
  margin-right: 4.6rem;
  width: 5.5rem;
  height: 5.5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-1-bg-Ka8.png');
  border-radius: 2.75rem;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .frame-41-a64 .auto-group-mtwr-NGp {
  margin: 0.4rem 0rem 1rem 0rem;
  height: calc(100% - 1.4rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .frame-41-a64 .auto-group-mtwr-NGp .dr-alan-sudarsono-drg-sppros-6Cp {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1725;
  letter-spacing: -0.064rem;
  color: #2d6a4f;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .frame-41-a64 .auto-group-mtwr-NGp .dokter-spesialis-gigi-denstist-bvG {
  max-width: 7.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: -0.036rem;
  color: #2d6a4f;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .dropdown-menu-HHJ {
  margin: 0rem 58.6rem 51.1rem 60.5rem;
  box-sizing: border-box;
  padding: 0.6rem 0.929rem 0.6rem 0.6rem;
  width: calc(100% - 119.1rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #2d6a4f;
  background-color: #dff6ff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .dropdown-menu-HHJ .pilihan-jadwal-B7n {
  margin-right: 6.8292rem;
  font-size: 0.8rem;
  font-weight: 800;
  line-height: 1.1725;
  letter-spacing: 0.04rem;
  color: #40916c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .dropdown-menu-HHJ .frame-hM2 {
  margin-top: 0.0881rem;
  width: 0.6417rem;
  height: 0.3548rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .auto-group-vong-bBW {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .auto-group-vong-bBW .frame-jHi {
  margin-right: 1.85rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .auto-group-vong-bBW .sebelumnya-4qn {
  margin-right: 92.15rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 0.625;
  letter-spacing: -0.0704rem;
  color: #6c757d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .auto-group-vong-bBW .selanjutnya-PNG {
  margin-right: 1.9rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 0.625;
  letter-spacing: -0.0704rem;
  color: #6c757d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .auto-group-veyn-JHe .auto-group-vong-bBW .arrow-7ZA {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .info-eZ6 {
  box-sizing: border-box;
  padding: 9.9rem 11.685rem 15.1rem 9.33rem;
  width: 144.47rem;
  height: 88.4rem;
  display: flex;
  align-items: flex-start;
  background-color: #292b33;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .info-eZ6 .auto-group-cwts-ZAG {
  margin-right: 7.5273rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .info-eZ6 .auto-group-cwts-ZAG .rumah-sakit-universitas-udayana-Vpc {
  margin-bottom: 0.6rem;
  max-width: 31.6rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.3888888889;
  letter-spacing: -0.0792rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .info-eZ6 .auto-group-cwts-ZAG .alamat-jl-rumah-sakit-universitas-udayana-nomor-1-jimbaran-kuta-selatan-badung-bali-803611-oKW {
  margin: 0rem 0rem 36.8rem 0.301rem;
  max-width: 31.2rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: -0.033rem;
  font-style: italic;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .info-eZ6 .auto-group-cwts-ZAG .temukan-kami-di-facebook-3zY {
  max-width: 26.9rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.3888888889;
  letter-spacing: -0.0792rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .info-eZ6 .kerjasama-AJU {
  margin-right: 14.0995rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.3888888889;
  letter-spacing: -0.0792rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .info-eZ6 .auto-group-tsm6-Vbe {
  margin-right: 8.9273rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .info-eZ6 .auto-group-tsm6-Vbe .statistik-kunjungan-dxk {
  margin-bottom: 5rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.3888888889;
  letter-spacing: -0.0792rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .info-eZ6 .auto-group-tsm6-Vbe .total-pengunjung-pengunjung-hari-ini-pengunjung-kemarin-pengunjung-minggu-lalu-pengunjung-per-bulan-pengunjung-online--H1i {
  margin-left: 0.0428rem;
  max-width: 16.8rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: -0.033rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.jadwal-dokter-gn4 .jadwal-dokter-SFS .info-eZ6 .translate-vqN {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.3888888889;
  letter-spacing: -0.0792rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
