
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.list-dokter-fWg {
  width: 100%;
  height: 260rem;

  .list-dokter-26L {
    box-sizing: border-box;
    padding-top: 3.7rem;
    height: 100%;
    display: flex;
    background-color: #ffebeb;
    width: 100%;
    overflow: hidden;
    position: relative;
    flex-direction: column;

    .image-1-ko2 {
      margin-bottom: 10.7rem;
      width: 144rem;
      height: 42.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-izhr-HHA {
      flex-shrink: 0;
      width: 100%;
      height: 114.5rem;
      position: relative;

      .auto-group-fw1a-DRi {
        width: 135.6rem;
        height: 2.6rem;
        position: absolute;
        left: 4.5rem;
        top: 95.9rem;
        display: flex;
        align-items: flex-start;

        .frame-w6p {
          flex-shrink: 0;
          margin: 0.2rem 1.85rem 0rem 0rem;
          width: 2.4rem;
          height: 2.4rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
        }
        .sebelumnya-SZN {
          font-weight: 800;
          font-family: Roboto, 'Source Sans Pro';
          margin: 0.2rem 93.85rem 0rem 0rem;
          text-align: center;
          font-size: 3.2rem;
          line-height: 0.625;
          letter-spacing: -0.0704rem;
          color: #6c757d;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .selanjutnya-jYU {
          flex-shrink: 0;
          text-align: center;
          font-weight: 800;
          line-height: 0.625;
          color: #6c757d;
          font-family: Roboto, 'Source Sans Pro';
          margin-right: 1.9rem;
          font-size: 3.2rem;
          letter-spacing: -0.0704rem;
          white-space: nowrap;
        }
        .arrow-3p4 {
          width: 2.4rem;
          height: 2.4rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .frame-2-Q8p {
        display: flex;
        padding: 0.304rem 0.455rem 0.5rem 0.292rem;
        height: 4rem;
        position: absolute;
        top: 5.3rem;
        box-sizing: border-box;
        width: 114.1rem;
        left: 17rem;
        align-items: center;

        .poli-tpg {
          margin: 0.196rem 24.792rem 0rem 0rem;
          width: 2.9166rem;
          height: 2.9167rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .dokter-RZi {
          margin: 0.196rem 24.938rem 0rem 0rem;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .jadwal-xZe {
          width: 2.625rem;
          height: 3.0833rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 24.696rem 0.113rem 0rem;
        }
        .reservasi-GaL {
          flex-shrink: 0;
          margin: 0.131rem 24.91rem 0rem 0rem;
          width: 2.5188rem;
          height: 2.5188rem;
          object-fit: contain;
          vertical-align: top;
        }
        .konfirmasi-CTz {
          flex-shrink: 0;
          margin-top: 0.1955rem;
          width: 2.9574rem;
          height: 2.8303rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .group-2-wAg {
        top: 11rem;
        display: flex;
        align-items: flex-end;
        width: 119.85rem;
        height: 1.9rem;
        position: absolute;
        left: 12.9rem;

        .menentukan-poli-FhA {
          font-weight: 700;
          line-height: 1.1725;
          color: #495057;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 18.05rem 0.1rem 0rem;
          text-align: center;
          font-size: 1.5rem;
        }
        .list-dokter-AZE {
          text-align: center;
          color: #2d6a4f;
          font-family: Roboto, 'Source Sans Pro';
          margin: 0rem 19.75rem 0.1rem 0rem;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.1725;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .jadwal-dokter-gnU {
          font-size: 1.5rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          color: #495057;
          margin-right: 18.6rem;
          text-align: center;
          font-weight: 700;
          line-height: 1.1725;
        }
        .reservasi-p7z {
          color: #495057;
          white-space: nowrap;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.1725;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 20.45rem;
        }
        .konfirmasi-Ypg {
          color: #495057;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.1725;
        }
      }
      .auto-group-n2ek-t7r {
        width: 132rem;
        height: 1.8rem;
        position: absolute;
        left: 7.5rem;
        top: 14.7rem;
        object-fit: contain;
        vertical-align: top;
      }
      .menentukan-dokter-untuk-check-jadwal-dokter-dzY {
        font-family: Roboto, 'Source Sans Pro';
        width: 13.2rem;
        top: 19.5rem;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #2d6a4f;
        height: 5.3rem;
        position: absolute;
        left: 39.9rem;
        text-align: center;
      }
      .auto-group-h8hn-8RW {
        column-gap: 3.9rem;
        align-items: center;
        width: 111.3rem;
        height: 7.5rem;
        position: absolute;
        left: 16.3rem;
        top: 31.8rem;
        display: flex;

        .frame-27-RvQ {
          cursor: pointer;
          position: relative;
          border: solid 0.1rem #2d6a4f;
          box-sizing: border-box;
          border-radius: 2rem;
          flex-shrink: 0;
          width: 34.5rem;
          height: 100%;

          .dokter-spesialis-gigi-denstist-yS8 {
            height: 2.2rem;
            top: 3.3rem;
            font-size: 0.9rem;
            line-height: 1.1725;
            letter-spacing: -0.036rem;
            color: #2d6a4f;
            width: 7.5rem;
            position: absolute;
            left: 12.2rem;
            font-weight: 400;
            font-family: Roboto, 'Source Sans Pro';
          }
          .dr-alan-sudarsono-drg-sppros-eYG {
            color: #2d6a4f;
            font-size: 1.6rem;
            height: 1.9rem;
            position: absolute;
            left: 12.2rem;
            top: 1.4rem;
            font-weight: 700;
            line-height: 1.1725;
            letter-spacing: -0.064rem;
            width: 21.1rem;
            white-space: nowrap;
            font-family: Roboto, 'Source Sans Pro';
          }
          .ellipse-1-Lfz {
            background-color: #d9d9d9;
            border-radius: 2.75rem;
            width: 5.5rem;
            height: 5.5rem;
            position: absolute;
            left: 2.1rem;
            top: 1rem;
          }
          .frame-28-4rt {
            left: 0;
            display: flex;
            border: solid 0.1rem #2d6a4f;
            border-radius: 2rem;
            align-items: center;
            box-sizing: border-box;
            padding: 1rem 1.2rem 1rem 2.1rem;
            width: 34.5rem;
            height: 7.5rem;
            cursor: pointer;
            position: absolute;
            top: 0;

            .ellipse-1-yDA {
              width: 5.5rem;
              height: 5.5rem;
              background-position: center;
              border-radius: 2.75rem;
              flex-shrink: 0;
              margin-right: 4.6rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:1e078348a54489bfd231d82fe1944770883c8d80');
            }
            .auto-group-gzp6-sZS {
              flex-shrink: 0;
              margin: 0.4rem 0rem 1rem 0rem;
              height: calc(100% - 1.4rem);
              display: flex;
              flex-direction: column;

              .dr-alan-sudarsono-drg-sppros-ztx {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.1725;
                letter-spacing: -0.064rem;
                color: #2d6a4f;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .dokter-spesialis-gigi-denstist-7ya {
                color: #2d6a4f;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 7.5rem;
                font-size: 0.9rem;
                font-weight: 400;
                line-height: 1.1725;
                letter-spacing: -0.036rem;
              }
            }
          }
        }
        .frame-27-zXa {
          height: 100%;
          cursor: pointer;
          border: solid 0.1rem #2d6a4f;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 5.4rem 1rem 2.1rem;
          border-radius: 2rem;
          display: flex;
          align-items: center;

          .ellipse-1-7cC {
            background-repeat: no-repeat;
            height: 5.5rem;
            background-size: 100% 100%;
            background-position: center;
            background-image: url('REPLACE_IMAGE:9bfcc3c0f06ca2928cc089db93641820bd4a8938');
            border-radius: 2.75rem;
            flex-shrink: 0;
            margin-right: 4.6rem;
            width: 5.5rem;
          }
          .auto-group-6sxg-e6L {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.4rem 0rem 1rem 0rem;
            height: calc(100% - 1.4rem);

            .dr-alan-sudarsono-drg-sppros-aEt {
              letter-spacing: -0.064rem;
              color: #2d6a4f;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.1725;
            }
            .dokter-spesialis-gigi-denstist-hKW {
              color: #2d6a4f;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 7.5rem;
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 1.1725;
              letter-spacing: -0.036rem;
            }
          }
        }
        .frame-27-BEg {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 2.9rem 1rem 2.1rem;
          height: 100%;
          cursor: pointer;
          display: flex;
          border-radius: 2rem;
          align-items: center;
          border: solid 0.1rem #2d6a4f;

          .ellipse-1-7PE {
            width: 5.5rem;
            height: 5.5rem;
            background-repeat: no-repeat;
            border-radius: 2.75rem;
            flex-shrink: 0;
            margin-right: 4.6rem;
            background-size: 100% 100%;
            background-position: center;
            background-image: url('REPLACE_IMAGE:22aa3b456260f5c114826d26f0063851b8322353');
          }
          .auto-group-38qw-SgQ {
            margin: 0.4rem 0rem 1rem 0rem;
            height: calc(100% - 1.4rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .dr-alan-sudarsono-drg-sppros-mya {
              line-height: 1.1725;
              letter-spacing: -0.064rem;
              color: #2d6a4f;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
            }
            .dokter-spesialis-gigi-denstist-hsE {
              line-height: 1.1725;
              letter-spacing: -0.036rem;
              color: #2d6a4f;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 7.5rem;
              font-size: 0.9rem;
              font-weight: 400;
            }
          }
        }
      }
      .auto-group-tsrc-bSp {
        left: 16.3rem;
        top: 42.3rem;
        display: flex;
        column-gap: 3.9rem;
        align-items: center;
        width: 111.3rem;
        height: 7.5rem;
        position: absolute;

        .frame-29-uiQ {
          box-sizing: border-box;
          height: 100%;
          border-radius: 2rem;
          flex-shrink: 0;
          border: solid 0.1rem #2d6a4f;
          padding: 1rem 6.3rem 1rem 2.1rem;
          cursor: pointer;
          display: flex;
          align-items: center;

          .ellipse-1-F1a {
            background-size: 100% 100%;
            background-position: center;
            background-image: url('REPLACE_IMAGE:3e7e13469f9936fa68f41c17b224a071bea60ef2');
            border-radius: 2.75rem;
            flex-shrink: 0;
            margin-right: 4.6rem;
            width: 5.5rem;
            height: 5.5rem;
            background-repeat: no-repeat;
          }
          .auto-group-fkf6-yCU {
            margin: 0.4rem 0rem 1rem 0rem;
            height: calc(100% - 1.4rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .dr-alan-sudarsono-drg-sppros-6nt {
              color: #2d6a4f;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.1725;
              letter-spacing: -0.064rem;
            }
            .dokter-spesialis-gigi-denstist-E8Q {
              letter-spacing: -0.036rem;
              color: #2d6a4f;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 7.5rem;
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 1.1725;
            }
          }
        }
        .frame-31-ukL {
          box-sizing: border-box;
          padding: 1rem 4.1rem 1rem 2.1rem;
          height: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #2d6a4f;
          cursor: pointer;
          border-radius: 2rem;
          flex-shrink: 0;

          .ellipse-1-eC8 {
            margin-right: 4.6rem;
            height: 5.5rem;
            background-size: 100% 100%;
            background-position: center;
            flex-shrink: 0;
            width: 5.5rem;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:8c34c8db075e7a56c830ab69da68db646fe34643');
            border-radius: 2.75rem;
          }
          .auto-group-arcl-NP2 {
            height: calc(100% - 1.4rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.4rem 0rem 1rem 0rem;

            .dr-alan-sudarsono-drg-sppros-US4 {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.1725;
              letter-spacing: -0.064rem;
              color: #2d6a4f;
              font-family: Roboto, 'Source Sans Pro';
            }
            .dokter-spesialis-gigi-denstist-Ccx {
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 1.1725;
              letter-spacing: -0.036rem;
              color: #2d6a4f;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 7.5rem;
            }
          }
        }
        .frame-32-h3v {
          align-items: center;
          border-radius: 2rem;
          height: 100%;
          cursor: pointer;
          display: flex;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 2.6rem 1rem 2.1rem;
          border: solid 0.1rem #2d6a4f;

          .ellipse-1-2rt {
            height: 5.5rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:317076dfa57d49314359fd7606cce752f3324d5d');
            border-radius: 2.75rem;
            flex-shrink: 0;
            width: 5.5rem;
            background-position: center;
            margin-right: 4.6rem;
          }
          .auto-group-pkhi-knt {
            margin: 0.4rem 0rem 1rem 0rem;
            height: calc(100% - 1.4rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .dr-alan-sudarsono-drg-sppros-VEg {
              letter-spacing: -0.064rem;
              color: #2d6a4f;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.1725;
            }
            .dokter-spesialis-gigi-denstist-DAg {
              letter-spacing: -0.036rem;
              color: #2d6a4f;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 7.5rem;
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 1.1725;
            }
          }
        }
      }
      .auto-group-12hv-71A {
        column-gap: 3.9rem;
        align-items: center;
        width: 111.3rem;
        height: 7.5rem;
        position: absolute;
        left: 16.3rem;
        top: 52.8rem;
        display: flex;

        .frame-33-RXe {
          border: solid 0.1rem #2d6a4f;
          box-sizing: border-box;
          border-radius: 2rem;
          flex-shrink: 0;
          width: 34.5rem;
          height: 100%;
          cursor: pointer;
          position: relative;

          .dokter-spesialis-gigi-denstist-y3N {
            left: 12.2rem;
            line-height: 1.1725;
            color: #2d6a4f;
            width: 7.5rem;
            height: 2.2rem;
            position: absolute;
            letter-spacing: -0.036rem;
            font-family: Roboto, 'Source Sans Pro';
            top: 3.3rem;
            font-size: 0.9rem;
            font-weight: 400;
          }
          .dr-alan-sudarsono-drg-sppros-GHN {
            height: 1.9rem;
            left: 12.2rem;
            font-weight: 700;
            line-height: 1.1725;
            letter-spacing: -0.064rem;
            width: 18.4rem;
            position: absolute;
            top: 1.4rem;
            font-size: 1.6rem;
            color: #2d6a4f;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .ellipse-1-N5W {
            left: 2.1rem;
            top: 1rem;
            background-color: #d9d9d9;
            border-radius: 2.75rem;
            width: 5.5rem;
            height: 5.5rem;
            position: absolute;
          }
          .frame-34-hda {
            height: 7.5rem;
            left: 0;
            display: flex;
            border: solid 0.1rem #2d6a4f;
            border-radius: 2rem;
            box-sizing: border-box;
            padding: 1rem 10.4rem 1rem 2.1rem;
            width: 34.5rem;
            cursor: pointer;
            position: absolute;
            top: 0;
            align-items: center;

            .ellipse-1-owW {
              height: 5.5rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              border-radius: 2.75rem;
              margin-right: 4.6rem;
              width: 5.5rem;
              background-position: center;
              background-image: url('REPLACE_IMAGE:5824acacb3b76175bc84084ec18597109498f96d');
              flex-shrink: 0;
            }
            .auto-group-hgxa-LAk {
              margin: 0.4rem 0rem 1rem 0rem;
              box-sizing: border-box;
              padding-top: 1.9rem;
              width: 11.9rem;
              height: calc(100% - 1.4rem);
              flex-shrink: 0;

              .dokter-spesialis-gigi-denstist-Sja {
                max-width: 7.5rem;
                font-size: 0.9rem;
                font-weight: 400;
                line-height: 1.1725;
                letter-spacing: -0.036rem;
                color: #2d6a4f;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
          }
        }
        .frame-35-7qi {
          padding: 1rem 4.4rem 1rem 2.1rem;
          cursor: pointer;
          align-items: center;
          box-sizing: border-box;
          height: 100%;
          display: flex;
          border: solid 0.1rem #2d6a4f;
          border-radius: 2rem;
          flex-shrink: 0;

          .ellipse-1-Fh2 {
            width: 5.5rem;
            background-image: url('REPLACE_IMAGE:51b41f20db95c385c8df9dbc1cafee5ea93687e3');
            border-radius: 2.75rem;
            flex-shrink: 0;
            margin-right: 4.6rem;
            height: 5.5rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
          }
          .auto-group-zmov-mvG {
            flex-shrink: 0;
            margin: 0.4rem 0rem 1rem 0rem;
            height: calc(100% - 1.4rem);
            display: flex;
            flex-direction: column;

            .dr-alan-sudarsono-drg-sppros-W7A {
              font-weight: 700;
              line-height: 1.1725;
              letter-spacing: -0.064rem;
              color: #2d6a4f;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
            .dokter-spesialis-gigi-denstist-dSg {
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 7.5rem;
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 1.1725;
              letter-spacing: -0.036rem;
              color: #2d6a4f;
            }
          }
        }
        .frame-36-88Y {
          box-sizing: border-box;
          padding: 1rem 1.5rem 1rem 2.1rem;
          height: 100%;
          align-items: center;
          border: solid 0.1rem #2d6a4f;
          flex-shrink: 0;
          cursor: pointer;
          display: flex;
          border-radius: 2rem;

          .ellipse-1-raL {
            background-size: 100% 100%;
            flex-shrink: 0;
            margin-right: 4.6rem;
            height: 5.5rem;
            background-position: center;
            background-image: url('REPLACE_IMAGE:c460226f8a0e7a6ab75fc2eabd9a0a9ae72f8ea0');
            border-radius: 2.75rem;
            width: 5.5rem;
            background-repeat: no-repeat;
          }
          .auto-group-2feq-nD6 {
            margin: 0.4rem 0rem 1rem 0rem;
            height: calc(100% - 1.4rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .dr-alan-sudarsono-drg-sppros-iMe {
              color: #2d6a4f;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.1725;
              letter-spacing: -0.064rem;
            }
            .dokter-spesialis-gigi-denstist-F6g {
              font-weight: 400;
              line-height: 1.1725;
              letter-spacing: -0.036rem;
              color: #2d6a4f;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 7.5rem;
              font-size: 0.9rem;
            }
          }
        }
      }
      .auto-group-dzdj-9C4 {
        align-items: center;
        width: 111.3rem;
        height: 7.5rem;
        position: absolute;
        left: 16.3rem;
        top: 63.3rem;
        display: flex;
        column-gap: 3.9rem;

        .frame-37-s84 {
          border-radius: 2rem;
          flex-shrink: 0;
          height: 100%;
          padding: 1rem 3.2rem 1rem 2.1rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          border: solid 0.1rem #2d6a4f;
          box-sizing: border-box;

          .ellipse-1-bZr {
            height: 5.5rem;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:a0a6671c3d922b97d7883edd90ba3f90da1e315a');
            border-radius: 2.75rem;
            flex-shrink: 0;
            margin-right: 4.6rem;
            width: 5.5rem;
            background-repeat: no-repeat;
            background-position: center;
          }
          .auto-group-h3on-XiQ {
            margin: 0.4rem 0rem 1rem 0rem;
            height: calc(100% - 1.4rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .dr-alan-sudarsono-drg-sppros-s1a {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.1725;
              letter-spacing: -0.064rem;
              color: #2d6a4f;
            }
            .dokter-spesialis-gigi-denstist-bTN {
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 7.5rem;
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 1.1725;
              letter-spacing: -0.036rem;
              color: #2d6a4f;
            }
          }
        }
        .frame-39-gzc {
          box-sizing: border-box;
          height: 100%;
          align-items: center;
          border: solid 0.1rem #2d6a4f;
          flex-shrink: 0;
          padding: 1rem 5.4rem 1rem 2.1rem;
          cursor: pointer;
          display: flex;
          border-radius: 2rem;

          .ellipse-1-DzY {
            height: 5.5rem;
            background-image: url('REPLACE_IMAGE:0fe3bd96a40af6e9ea26bfd990f3f65d7dc40fbd');
            flex-shrink: 0;
            margin-right: 4.6rem;
            width: 5.5rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 2.75rem;
          }
          .auto-group-c8pp-ZYc {
            margin: 0.4rem 0rem 1rem 0rem;
            height: calc(100% - 1.4rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .dr-alan-sudarsono-drg-sppros-HjW {
              letter-spacing: -0.064rem;
              color: #2d6a4f;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.1725;
            }
            .dokter-spesialis-gigi-denstist-QZE {
              color: #2d6a4f;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 7.5rem;
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 1.1725;
              letter-spacing: -0.036rem;
            }
          }
        }
        .frame-40-W6U {
          box-sizing: border-box;
          height: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          padding: 1rem 4.4rem 1rem 2.1rem;
          border: solid 0.1rem #2d6a4f;
          border-radius: 2rem;

          .ellipse-1-Rz8 {
            background-position: center;
            background-image: url('REPLACE_IMAGE:dd989ae8febefaf6866dee1ff4c1dd324bf062d9');
            border-radius: 2.75rem;
            flex-shrink: 0;
            margin-right: 4.6rem;
            height: 5.5rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 5.5rem;
          }
          .auto-group-nrj8-xUG {
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.4rem 0rem 1rem 0rem;
            height: calc(100% - 1.4rem);
            display: flex;

            .dr-alan-sudarsono-drg-sppros-64g {
              font-weight: 700;
              line-height: 1.1725;
              letter-spacing: -0.064rem;
              color: #2d6a4f;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
            .dokter-spesialis-gigi-denstist-1SY {
              font-size: 0.9rem;
              font-weight: 400;
              line-height: 1.1725;
              letter-spacing: -0.036rem;
              color: #2d6a4f;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 7.5rem;
            }
          }
        }
      }
    }
    .info-V6p {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 9.9rem 11.685rem 15.1rem 9.33rem;
      width: 144.47rem;
      height: 88.4rem;
      display: flex;
      align-items: flex-start;
      background-color: #292b33;

      .auto-group-olfj-CG8 {
        margin-right: 7.5273rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .rumah-sakit-universitas-udayana-wUc {
          font-weight: 700;
          font-family: Roboto, 'Source Sans Pro';
          margin-bottom: 0.6rem;
          max-width: 31.6rem;
          font-size: 3.6rem;
          line-height: 1.3888888889;
          letter-spacing: -0.0792rem;
          color: #ffffff;
          flex-shrink: 0;
        }
        .alamat-jl-rumah-sakit-universitas-udayana-nomor-1-jimbaran-kuta-selatan-badung-bali-803611-SRN {
          font-style: italic;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 31.2rem;
          font-size: 1.5rem;
          line-height: 1.3333333333;
          color: #ffffff;
          margin: 0rem 0rem 36.8rem 0.301rem;
          font-weight: 600;
          letter-spacing: -0.033rem;
        }
        .temukan-kami-di-facebook-4Sk {
          font-weight: 700;
          line-height: 1.3888888889;
          letter-spacing: -0.0792rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 26.9rem;
          font-size: 3.6rem;
        }
      }
      .kerjasama-aR6 {
        flex-shrink: 0;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.3888888889;
        letter-spacing: -0.0792rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 14.0995rem;
      }
      .auto-group-c4rc-6PS {
        margin-right: 8.9273rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .statistik-kunjungan-3Za {
          letter-spacing: -0.0792rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.3888888889;
          margin-bottom: 5rem;
        }
        .total-pengunjung-pengunjung-hari-ini-pengunjung-kemarin-pengunjung-minggu-lalu-pengunjung-per-bulan-pengunjung-online--xRe {
          margin-left: 0.0428rem;
          line-height: 1.3333333333;
          letter-spacing: -0.033rem;
          font-family: Roboto, 'Source Sans Pro';
          max-width: 16.8rem;
          font-size: 1.5rem;
          font-weight: 600;
          color: #ffffff;
          flex-shrink: 0;
        }
      }
      .translate-DsN {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.3888888889;
        letter-spacing: -0.0792rem;
        color: #ffffff;
      }
    }
  }
}
